body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  background: #333;
  color: #fff;
}
